html, body {
  background-color: #D9D9D9;
  font-size: 24px;
  font-family: 'Calistoga', cursive;
  overflow-x: hidden;
}

.navbar-go {
  background-color: transparent;
  transition: 0.5s background-color ease;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  margin-left: -8px;
  margin-top: -10px;
}

.navbar-go img {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.navbar-red {
  background-color: #9B1417;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  margin-left: -8px;
  margin-top: -10px;
}

.img-untwist {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.navbar-gray {
  background-color: #D9D9D9;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  margin-left: -8px;
  margin-top: -10px;
}

.first-p {
  margin-top: 240px;
}

.highlight {
  background-color: #FECE7A;
  color: black;
}

.content-block {
  line-height: 16px;
}

.bigger {
  font-size: 32px;
}

.bg-twist {
  margin-top: 32px;
  background-color: #9B1417;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  margin-left: -8px;
  padding: 10px;
  overflow-x: hidden;
  color: white;
}

.bg-untwist {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.bg-twist-black {
  margin-top: 32px;
  background-color: #9B1417;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  width: 104vw;
  margin-left: -8px;
  padding: 10px;
  color: white;
}

.bg-untwist-black {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
}
