@media (max-width: 700px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media (min-width: 700px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}


html, body {
  background-color: #FFF;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fixed-top {
  z-index: 0;
}

.text-over {
  z-index: 1030;
}

.navbar-go {
  background-color: transparent;
  transition: 0.5s background-color ease;
  height: 65vh;
}

.navbar-go .img-untwist {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.navbar-grey {
  background-color: #D9D9D9;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  text-align: left !important;
  padding: 30px;
  opacity: 0.9;
  margin-left: -8px;
  margin-top: -10px;
}

.navbar-black {
  background-color: #000;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  width: 104vw;
  opacity: 0.9;
  text-align: left !important;
  padding: 30px;
  margin-left: -8px;
  margin-top: -10px;
}

.navbar-red {
  background-color: #9B1417;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  text-align: left !important;
  padding: 30px;
  opacity: 0.9;
  margin-left: -8px;
  margin-top: -10px;
}

.navbar-yellow {
  background-color: #FECE7A;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  text-align: left !important;
  padding: 30px;
  opacity: 0.9;
  margin-left: -8px;
  margin-top: -10px;
}

.navbar-blue {
  background-color: #005DC4;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  width: 104vw;
  text-align: left !important;
  padding: 30px;
  opacity: 0.9;
  margin-left: -8px;
  margin-top: -10px;
}

.img-untwist {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.img-untwist-black {
  -webkit-transform: rotate(2deg) !important;
  -moz-transform: rotate(2deg) !important;
}

.logo-small {
  height: 60px;
  transition: 0.5s height ease;
}

.bold {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 1px;
  font-size: 24px;
}

.container {
  width: 374px;
}

.first-p {
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  font-weight: 400;
}

.p-bold {
  font-weight: 800;
}

.highlight {
  background-color: #FECE7A;
  color: #000;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 1px;
  font-size: 24px;
}

.r-highlight {
  background-color: #000;
  color: #FECE7A;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 1px;
  font-size: 24px;
}

.bw-highlight {
  background-color: #000;
  color:  #FFF;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 1px;
  font-size: 24px;
}

.content-block {
  line-height: 16px;
}

.bigger {
  font-size: 32px;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 1px;
}

.bg-red-twist {
  margin-top: 32px;
  background-color: #9B1417;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  margin-left: -8px;
  padding: 10px;
  overflow: hidden;
  color: #FFF;
}

.bg-twist-yellow {
  margin-top: -16px;
  background-color: #FECE7A;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  width: 104vw;
  margin-left: -8px;
  padding: 10px;
  overflow: hidden;
  color: #000;
}

.bg-untwist {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.bg-black-twist {
  margin-top: -32px;
  background-color: #000;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  width: 104vw;
  margin-left: -8px;
  padding: 10px;
  color: #FFF;
}

.bg-grey-twist {
  margin-top: -32px;
  background-color: #D9D9D9;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  width: 104vw;
  margin-left: -8px;
  padding: 10px;
  color: #000;
}

.bg-reverse-untwist {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

.bg-blue-twist {
  margin-top: -32px;
  background-color: #005DC4;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  width: 104vw;
  margin-left: -8px;
  padding: 10px;
  color: #FFF;
}

.img {
  height: 120px;
  border-radius: 2px;
}

.date {
  margin-top: -16px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px #000;
  font-weight: 400;
  color: #FFF;
}

.content-p {
  margin-top: 128px;
}

.desktop-content {
  height: 100vh;
}
